$main-color: #ffffff;
$form-color: $main-color;
$secondary-color: #2196f3;
$error-message-color: rgb(157, 3, 3);
$color-text: rgba(black, 0.5);
$width: 300px; // Change Me

.wrapper {
  max-width: calc($width * 2);
  margin: 0 auto;

  h1 {
    text-align: center;
    font-size: 2em;
  }

  a,
  a:visited {
    padding: 0.5em;
    display: block;
    width: calc($width * 2);
    text-align: center;
    color: $secondary-color;
  }

  .group {
    margin: 20px auto 0;
    width: $width;
    height: calc($width/6);
    overflow: hidden;
    position: relative;
  }

  label {
    position: absolute;
    top: calc($width/15);
    // color: rgba(white, 0.5);
    color: $color-text;
    font-size: calc($width/15);
    cursor: text;
    transition: 0.25s ease;
  }

  input {
    display: block;
    width: $width;
    padding-top: calc($width/15);
    border: none;
    border-radius: 0;
    border-bottom: solid calc($width/150) $color-text;
    color: rgb(0, 0, 0);
    background: $main-color;
    font-size: calc($width/15);
    transition: 0.3s ease;
    &:valid {
      border-bottom-color: $secondary-color;
      ~ label {
        top: 0;
        font-size: calc($width/25);
        color: $secondary-color;
      }
    }
    &:focus {
      outline: none;
      border-bottom-color: $secondary-color;
      ~ label {
        top: 0;
        font-size: calc($width/25);
        color: $secondary-color;
      }

      // ~ .bar:before {
      //   transform: translateX(0);
      // }
    }

    // Stop Chrome's hideous pale yellow background on auto-fill

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
      -webkit-text-fill-color: rgb(0, 0, 0) !important;
      // border-bottom-color: rgba(white, .5);
    }
  }

  ::selection {
    background: rgba($secondary-color, 0.3);
  }

  .form {
    position: relative;
    background-color: $form-color;
    width: $width * 1.5;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 1.2rem;
  }

  .checkbox {
    display: block;
    width: $width;
    height: calc($width/7);
    margin: 0 auto 10px;

    input {
      width: 25px;
      margin: 18px 10px 8px 0;

      &:valid {
        border-bottom-color: rgba(white, 0.5);
        ~ label {
          top: 15px;
          left: 40px;
          font-size: calc($width/15);
          width: $width;
          color: black;
        }
      }
    }
  }

  .error_mesage {
    margin: 5px auto 0;
    color: $error-message-color;
    width: calc($width * 1);
  }

  .submit {
    cursor: pointer;
    margin: 40px auto 20px;
    padding: 0;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: solid calc($width/150) $color-text;
    &:valid {
      border-bottom-color: $color-text;
    }
  }
  .valid {
    background-color: rgba($secondary-color, 0.7);
  }
}

.alert {
  width: 500px;
  margin: 0 auto;
  height: fit-content;
  font-size: 1.5em;
  text-align: center;
  background-color: #ffffff;
  transform: translateY(25vh);
  padding-top: 20px;
  h3,
  p,
  a {
    margin: 10px 0;
  }
  a {
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding: 5px 0;
    background-color: rgb(220, 53, 69);
    cursor: pointer;
  }
  a:visited {
    color: black;
  }
}
.alert_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2e2d2d67;
}
