.footer {
  width: 100%;
  min-height: 100px;
  padding: 25px;
  background-color: rgb(189, 189, 189);
  margin-top: auto;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  color: black;
  li {
    height: 100%;
  }
  img {
    display: block;
    height: 50px;
  }

  a:visited {
    color: inherit;
  }
  span {
    display: block;
    margin: auto 10px;
  }
}

.github {
  display: flex;
}
